<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LibraryQuest</title>
  </head>
  <body>
        <div>
          <form method="POST" action="/auth/users/reset_password_confirm/">
            <input
              id="id_new_item"
              placeholder="New password"
              name="new_password"
            />
            <input
              id="id_new_item"
              placeholder="Re-type password"
              name="re_new_password"
            />
            <input type="hidden" name="uid" value="{{uid}}">
            <input type="hidden" name="token" value="{{token}}">
            <input type="submit">
            {% csrf_token %}
          </form>
        </div>
  </body>
</html>
