* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  background-image: linear-gradient(to top, #e1e3e7, #f2e9d7);
}

.map-box {
  border-radius: 25px;
  border: ridge 4px #ccc;
  width: fit-content;
  align-self: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.header {
  display: flex;
  margin: 0;
  align-items: center;
  height: 65px;
  background-image: linear-gradient(to bottom right, #9cc0f9, #a8dab5);
  padding: 20px;
  box-shadow: 0px 0px 15px 5px #ccc;
}

.header--welcome-name {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.login-form {
  display: inline-block;
  margin: 5px 1%;
}

.header--title {
  font-family: "Cormorant Garamond", serif;
  display: inline-block;
  width: 31%;
  margin: 5px 1%;
  background: radial-gradient(
    ellipse at bottom,
    #aaa8a7cc 0%,
    #000000 100%,
    transparent 50%
  );
  color: transparent;
  background-clip: text;
}

.header--welcome {
  width: 31%;
}

.header--login {
  width: 31%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.login-modal {
  position: fixed;
  background-image: linear-gradient(to top, #e1e3e7, #f2e9d7);
  border: ridge 4px #ccc;
  border-radius: 25px;
  flex-shrink: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
